.button-center{
  text-align: center;
  padding-top: 24px;
  padding-bottom: 44px;
}

.image-center{
display: flex;
align-items: center;
justify-content: center;
//height: 100%;
}

.input{
padding-top: 112px;
}