<ion-header>
  <ion-toolbar color = 'primary' font-family = 'Helvetica'>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>

    <ion-title class = "ion-text-center"> SIMPLE ORDERING </ion-title>

    <ion-button slot = "end" shape = "round" size = "small" href = "./profile">
      <ion-icon slot="end" name="person-circle-outline" class="larger"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content color = 'medium' font-family = 'Helvetica'>

<h1 class = "ion-text-center">Contact CSC</h1>

<ion-card>
  <ion-card-header>
    <ion-card-title class = "ion-text-center">Available all day, every day</ion-card-title>
    <ion-card-subtitle>Phone: (913) 288-1111 <br> Email: csc@awginc.com</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    We would love to hear your feedback.  We have top notch support that is always ready and willing to help.  
  </ion-card-content>
</ion-card>





<div class = "button-center">
  <ion-button shape = "round" style="margin:20px;"> Email </ion-button>
  <ion-button shape = "round" style="margin:20px;"> Call </ion-button>
</div>



</ion-content>