.larger {
    font-size: 25px;
    position: relative;
    margin: auto;
}

.button-center{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
}

.input{
    padding-top: 112px;
    }

.simple-center{
    position: relative;
    margin: auto;
}