ion-img {
    position: fixed;
    left: 70px;
    bottom: 15px;    
}

.alert-ios .alert-radio-label{white-space: normal !important;}
.alert-md .alert-radio-label{white-space: normal !important;}
.alert-wp .alert-radio-label{white-space: normal !important;}
